<!-- 
    This template file is for the SAML Identity Provider settings.
    File acts as a view file for our Identity Provider settings.
-->

<?php
    // initialize all values required on the page
    $isserUrl = $this->getIssuerUrl();
    $baseUrl = $this->getBaseUrl();
    $metadataUrl = $this->getMetadataUrl();
    $isEnabled = $this->isEnabled();
    $premiumlink = $this->getExtensionPageUrl('upgrade');


    $url= $baseUrl.= 'MiniOrange_SP/metadata/metadata.xml';
    // $url = $this->downloadAction();

    $acsUrl= $this->getAcsUrl();

echo ' <div class="page" id="identityprovider">
        <h3>CONFIGURE IDENTITY PROVIDER</h3><hr>
        <div id="idp-settings" class="mosp_table_layout">

            <h3><b>STEP 1:</b></h3>
            <p>
                <b>Choose your Identity Provider from the list below to download its setup guide:</b>
                <br/><br/>
                <select name="idpguide" id="idpguide" style="width:200px;">
                    <option value selected disabled>Select your IDP</option>
                    <option value="'.$this->getIdpGuideBaseUrl("azure").'">Azure AD</option>
                    <option value="'.$this->getIdpGuideBaseUrl("googleapps").'">Google Apps</option>
                    <option value="'.$this->getIdpGuideBaseUrl("okta").'">Okta</option>
                    <option value="'.$this->getIdpGuideBaseUrl("miniorange").'">Miniorange</option>
                    <option value="'.$this->getIdpGuideBaseUrl("adfs").'">ADFS</option>
                    <option value="'.$this->getIdpGuideBaseUrl("centrify").'">Centrify</option>
                    <option value="'.$this->getIdpGuideBaseUrl("onelogin").'">OneLogin</option>
                    <option value="'.$this->getIdpGuideBaseUrl("salesforce").'">Salesforce</option>
                    <option value="'.$this->getIdpGuideBaseUrl("simplesaml").'">SimpleSAMLphp</option>
                    <option value="'.$this->getIdpGuideBaseUrl("shibboleth3").'">Shibboleth 3</option>
                    <option value="'.$this->getIdpGuideBaseUrl("wso2").'">WSO2 v5.0</option>
                    <option value="'.$this->getIdpGuideBaseUrl("jbosskeycloak").'">JBoss Keycloak</option>
                    <option value="'.$this->getIdpGuideBaseUrl("oracle").'">Oracle</option>
                </select>
                <a href="" target="_blank" id="idpsetuplink" hidden download>Click here to 
                    view the setup guide.</a>
            </p>
            <div class="code">Your IdP is not on the list? Scroll up and use the support section to contact us and we will help you to set up the module with your IDP.</div>
            <br>
            <h3><b>STEP 2:</b></h3>
            <br>
            <h4>You will need the following information to configure your IdP. Copy it and keep it handy:</h4>
            <div style="padding:0 6% 0 0;">
                <table class="data center">
                    <tr>
                        <td><b>SP-EntityID / Issuer</b></td>
                        <td>'.$isserUrl.'</td>
                    </tr>
                    <tr>
                        <td><b>ACS (AssertionConsumerService) URL</b></td>
                        <td>'.$acsUrl.'</td>
                    </tr>
                    <tr>
                        <td><b>Single Logout URL</b></td>
                        <td><span style="color:red">*</span> Available in the <a href="'.$premiumlink.'" 
                        class="premium btn-link">premium</a> version</td>
                    </tr>
                    <tr>
                        <td><b>Audience URI</b></td>
                        <td>'.$isserUrl.'</td>
                    </tr>
                    <tr>
                        <td><b>NameID format</b></td>
                        <td>urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress</td>
                    </tr>
                   <tr>
                        <td><b>Default Relay State (Optional)</b></td>
                        <td><span style="color:red">*</span> Available in the <a href="'.$premiumlink.'" 
                        class="premium btn-link">premium</a> version</td>
                    </tr>
                    <tr>
                        <td><b>Certificate (Optional)</b></td>
                        <td><span style="color:red">*</span> Available in the <a href="'.$premiumlink.'" 
                            class="premium btn-link">premium</a> version</td>';
echo'               </tr>
                </table>
            </div>
            
            <br/>

            <p style="text-align: center;font-size: 13pt;font-weight: bold;">OR</p>
            <p>Provide this metadata URL to your Identity Provider:</p>
            <div class="code"><b><a target="_blank" href="'.$metadataUrl.'">
                '.$metadataUrl.'</a></b></div>
            <br><br>
            
           
            <p>You can download the metadata XML from here :  <a href="'.$metadataUrl.'" target="_blank" download>Download</a></p>
            
        </div>
    </div>';
