<!-- 
    This template file is for the Sign In settings.
    File acts as a view file for our Sign In settings.
-->
<?php
    // initialize all values
    $adminLink = $this->showAdminLink() ?'checked':'';
    $customerLink = $this->showCustomerLink() ?'checked':'';
    $isSPConfigured = $this->isSPConfigured() && $this->isEnabled();
    $disabled  = $isSPConfigured ? "" : 'disabled title="Disabled. Configure your Service Provider" ';
    $formKey = $this->getBlockHtml('formkey');
    $logoutUrl = $this->getAdminLogoutUrl();
    $premiumlink = $this->getExtensionPageUrl('upgrade');

echo '<div class="page" id="samlsettings">
        <div class="mosp_table_layout">
            <h3>SIGN IN OPTIONS</h3>
            <hr>
            <form id="signInSettings" method="post" action="">'.
                $formKey .'
                <input type="hidden" name="option" value="saveSingInSettings" />
                <table>
                    
                    <tr>
                        <td>
                            Choose how you want users to log into your Magento website. You can choose any or all of the three 
                            options below.<br/><br/>
                            <h4><b>OPTION 1: Show Link on Default Login Page :</b></h4>
                            <div style="margin-left:17px;margin-top:2%;">
                                <input type="checkbox" name="mo_saml_show_admin_link" id="mo_saml_show_admin_link" 
                                    '.$adminLink.' value="true" disabled="true"> Show the Login Link on the default admin login page.
                                    <span style="color:red">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp *</span> (Available in the <a href="'.$premiumlink.'" 
                        class="premium btn-link">premium</a> version)
                                <br><br>
                                <input type="checkbox" name="mo_saml_show_customer_link" id="mo_saml_show_customer_link" 
                                    '.$customerLink.'  value="true">  Show the Login Link on the default customer login page. 
                                <br><br>
                                <input type="button" name="link_setup" title="You can only make changes if you have configured your SP" 
                                    onclick="document.getElementById(\'signInSettings\').submit();" 
                                    '.$disabled.' value="Save" style="width:150px"/>
                            </div>
                        </td>
                    </tr>
                        
                   
                </table>
            </form>
        </div>
    </div>';
