<!-- 
    This template file is for the oauth Attribute/Role Mapping settings.
    File acts as a view file for our attribute / role mapping page.
-->

<?php 
    //Attribute mapping
    // initialze all values required to be shown on the page
    $roles = $this->getAllRoles();
    $groups = $this->getAllGroups();

    $isEnabled = $this->isEnabled();
    $disabled = !$isEnabled ? "disabled" : "";
    $oauth_am_username = $this->getUserNameMapping();
    $oauth_am_email = $this->getUserEmailMapping();
    $oauth_am_first_name = $this->getFirstNameMapping();
    $oauth_am_last_name = $this->getLastNameMapping();
    $oauth_am_group_name = $this->getGroupMapping();

    $oauth_am_account_matcher = $this->getAccountMatcher();

    $emailSelected = $oauth_am_account_matcher == 'email' ? 'selected="selected"' : "";
    $usernameSelected = $oauth_am_account_matcher == 'username' ? 'selected="selected"' : "";

    $oauth_am_dont_allow_unlisted_user_role = $this->getDisallowUnlistedUserRole();
    $mo_oauth_dont_create_user_if_role_not_mapped = $this->getDisallowUserCreationIfRoleNotMapped();

    
    $admin_roles_configured = $this->getRolesMapped();
    $customer_roles_configured = $this->getGroupsMapped();

    
    $default_role = $this->getDefaultRole();
    $formKey = $this->getBlockHtml('formkey');
    $premiumlink = $this->getExtensionPageUrl('upgrade');

echo '<div class="page" id="attrmapping">
        <div class="mooauth_table_layout">
            <form name="f" method="post" action="">
                '.$formKey.'
                <input type="hidden" name="option" value="saveAttrSettings" />
                <h3>Attribute Mapping (Optional)</h3><hr>
                <table>
                    <tr>
                        <td colspan="2">
                            <div class="mo_note">
                                <span class="btn-link">What is Attribute Mapping?</span>
                                <div hidden class="collapse">
                                    <ol>
                                        <li>Attributes are user details that are stored in your Identity Provider.</li>
                                        <li>Attribute Mapping helps you to get user attributes from your IdP and map them to 
                                            Magento user attributes like firstname, lastname etc.</li>
                                        <li>While auto registering the users in your Magento site these attributes will automatically 
                                            get mapped to your Magento user details.</li>
                                    </ol>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Users in Magento will be searched (existing Magento users) or created (new users) based
                         on the Email attribute.</td>
                    </tr>
                    
					<tr class="mo_premium_option">
                        <td style="width:200px;"><strong>Login/Create Magento account by: </strong></td>
                        <td><select name="oauth_am_account_matcher" id="oauth_am_account_matcher" >
                            <option value="email" '. $emailSelected .' > Email </option>
                            <option value="username" '.$usernameSelected.' > Username </option>
                        </select>
                        </td>
                    </tr>
    
                    <tr>
                        <td style="width:150px;"><strong>Username <span style="color:red;">*</span>:</strong></td>
                        <td><input type="text" name="oauth_am_username" placeholder="Enter attribute name for User Name"
                        value="'.$oauth_am_username.'" /></td>
                    </tr>
                    <tr>
                        <td><strong>Email <span style="color:red;">*</span>:</strong></td>
                        <td><input type="text" name="oauth_am_email" placeholder="Enter attribute name for User Email"
                        value="'.$oauth_am_email.'" /></td>
                    </tr>
                    <tr>
                        <td><strong>First Name:</strong></td>
                        <td><input type="text" name="oauth_am_first_name" placeholder="Enter attribute name for First Name"
                        value="'.$oauth_am_first_name.'" /></td>
                    </tr>
                    <tr>
                        <td><strong>Last Name:</strong></td>
                        <td><input type="text" name="oauth_am_last_name" placeholder="Enter attribute name for Last Name" 
                            value="'.$oauth_am_last_name.'" /></td>
                    </tr>
                    
                    <tr class="mo_premium_option">
                        <td><strong>Group/Role:</strong></td>
                        <td><input type="text" name="oauth_am_group_name" placeholder="Enter attribute name for Group/Role" 
                            value="'.$oauth_am_group_name.'"/></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><br /><input type="submit" style="width:100px;" name="submit" value="Save" 
                            class="button button-primary button-large" /> &nbsp; 
                        <br /><br />
                        </td>
                    </tr>
                </table>
                

                <h3>Role Mapping (Optional)</h3><hr/>	
                <table>
                        <tr>
                        <td colspan="2">
                            <div class="mo_note">
                                <span class="btn-link" href="">What is Role Mapping?</span>
                                <div hidden class="collapse">
                                    <ol>
                                        <li>Magento uses a concept of Roles, designed to give the site owner the ability to control 
                                                what users can and cannot do within the site.</li>
                                        <li>Role mapping helps you to assign specific roles to users of a certain group in your IdP.</li>
                                        <li>While auto registering, the users are assigned roles based on the group they are mapped to.</li>
                                    </ol>
                                </div>
                            </div>
                        </td>
                        </tr>
                    <tr><td colspan="2"><b>NOTE: </b>Role will be assigned only to non-admin users (user that do NOT have Administrator 
                        privileges). You will have to manually change the role of Administrator users.</td></tr>
                    <tr><td colspan="2"><input type="checkbox" id="dont_create_user_if_role_not_mapped" 
                        name="mo_oauth_dont_create_user_if_role_not_mapped" value="checked" 
                        '.$mo_oauth_dont_create_user_if_role_not_mapped.' 
                         />&nbsp;&nbsp;Do not auto create users if roles are not 
                        mapped here.</td></tr>
                    <tr><td colspan="2"><input type="checkbox" id="dont_allow_unlisted_user_role" 
                        name="oauth_am_dont_allow_unlisted_user_role" value="checked" 
                        '.$oauth_am_dont_allow_unlisted_user_role.'  />
                        &nbsp;&nbsp;Do not assign role to unlisted users.</td></tr>
                    <tr>
                        <td><strong>Default Role:</strong></td>
                        <td>
                                <select id="oauth_am_default_role" name="oauth_am_default_role"
                                      style="width:150px;" >';

                                foreach($roles as $role)
                                {
                                    $selected = $default_role==$role['label']? 'selected' : '';
                                    echo '<option id="mo2f_roles" '. $selected .' 
                                        name="'.$role['label'].'" value="'.$role['label'].'"/>'.
                                        $role['label'].'</option>';
                                }
                                foreach($groups as $group)
                                {
                                    $selected = $default_role==$group['label']? 'selected' : '';
                                    echo '<option id="mo2f_roles" '. $selected .' name="'.
                                    $group['label'].'" value="'.$group['label'].'"/>'.
                                    $group['label'].'</option>';
                                }

echo'                           </select>
                            <i>Select the default role to assign to new Users.</i>
                        </td>
                    </tr>';


                    foreach ($roles as $role) 
                    {
                        $role_value = $role['value'];
                        $role_name = $role['label'];
                        
                        
                        if(empty($admin_roles_configured))
                        {
                            $admin_roles=array();
                            $value = array_key_exists($role_value, $admin_roles) ? $admin_roles[$role_value] : "";
    
                        }
                        else{
                            $admin_roles = $admin_roles_configured ;
                            
                            $value = array_key_exists($role_value, $admin_roles) ? $admin_roles[$role_value] : "";
    
                        }
                        echo '<tr><td><b>' . $role_name .'</b></td><td><input type="text" name="oauth_am_admin_attr_values_' . 
                        $role_value . '" value="' . $value .'" placeholder="Semi-colon(;) separated Group/Role value for ' . 
                        $role_name . '" style="width: 400px;" /></td></tr>';
                    }

                    if(empty($customer_roles_configured)){
                        $customer_fields = array();
                    }else{
                        $customer_fields = unserialize($customer_roles_configured);
                    }
                    foreach ($groups as $group) 
                    {
                        $role_value = $group['value'];
                        $role_name = $group['label'];
                        $value = array_key_exists($role_value, $customer_fields) ? 
                            $customer_fields[$role_value] : "";
                        echo '<tr><td><b>' . $role_name .'</b></td><td><input type="text" name="oauth_am_group_attr_values_' . 
                            $role_value . '" value="' . $value .'" placeholder="Semi-colon(;) separated Group/Role value for ' . 
                            $role_name . '" style="width: 400px;" /></td></tr>';
                    }

echo'               <tr>
                        <td>&nbsp;</td>
                        <td><br /><input type="submit" style="width:100px;" name="submit" value="Save" 
                            class="button button-primary button-large" /> &nbsp; 
                        <br /><br />
                        </td>
                    </tr>
                </table>

            </form>
        </div>
    </div>';