<?php

// initialize all variables
$oauthsettings = $this->getExtensionPageUrl('oauthsettings');
$account = $this->getExtensionPageUrl('account');
$signinsettings = $this->getExtensionPageUrl('signinsettings');
$attrsettings = $this->getExtensionPageUrl('attrsettings');
$support = $this->getExtensionPageUrl('support');
$pricing = $this->getExtensionPageUrl('upgrade');
$activeTab = $this->getCurrentActiveTab();

echo'	<div style=" padding: 0 1%;">
            <div class="topnav" id="myTopnav">
            <a class="nav-tab '.($activeTab == 'account' ? 'active' : '').'" href="'.$account.'">1. Accounts</a>

                <a class="nav-tab '.($activeTab == 'oauthsettings' ? 'active' : '').'" href="'.$oauthsettings.'">2. OAuth Settings</a>
                <a class="nav-tab '.($activeTab == 'signinsettings' ? 'active' : '').'" href="'.$signinsettings.'">3. Sign In Settings</a>	
                <a class="nav-tab '.($activeTab == 'attrsettings' ? 'active' : '').'" href="'.$attrsettings.'">4. Attribute/Role Mapping</a>	
                <a class="nav-tab '.($activeTab == 'support' ? 'active' : '').'" href="'.$support.'">5. Support / Help</a>
                <a class="nav-tab '.($activeTab == 'upgrade' ? 'active' : '').'" href="'.$pricing.'">6. Upgrade</a>
            </div>
        </div>';
