<!-- 
    This template file is for the SAML Attribute/Role Mapping settings.
    File acts as a view file for our attribute / role mapping page.
-->

<?php 
    /**
     * Attribute mapping
     * initialize all values required to be shown on the page
     */

    $roles = $this->getAllRoles();
    $groups = $this->getAllGroups();
    
    $isEnabled = $this->isEnabled();
    $disabled = !$isEnabled ? "disabled" : "";

    $saml_am_account_matcher = $this->getAccountMatcher();

    $emailSelected = $saml_am_account_matcher == 'email' ? 'selected="selected"' : "";
    $usernameSelected = $saml_am_account_matcher == 'username' ? 'selected="selected"' : "";

    $saml_am_username = $this->samlUsernameMapping();
    $saml_am_email = $this->getEmailMapping();

    $saml_am_first_name = $this->getFirstNameMapping();
    $saml_am_last_name = $this->getLastNameMapping();
    $saml_am_group_name = $this->getGroupMapping();


    $saml_am_dont_allow_unlisted_user_role = $this->getDisallowUnlistedUserRole();
    $mo_saml_dont_create_user_if_role_not_mapped = $this->getDisallowUserCreationIfRoleNotMapped();

    $admin_roles_configured = $this->getGroupsMapped();
    $customer_roles_configured = $this->getRolesMapped();
    
    $default_role = $this->getDefaultRole();
    $formKey = $this->getBlockHtml('formkey');

echo '<div class="page" id="attrmapping">
        <div class="mosp_table_layout">
            <form name="f" method="post" action="">
                '.$formKey.'
                <input type="hidden" name="option" value="saveAttrSettings" />
                <h3>Attribute Mapping (Optional)</h3><hr>
                <table>
                    <tr>
                        <td colspan="2">
                            <div class="mo_note">
                                <span class="btn-link">What is Attribute Mapping?</span>
                                <div hidden class="collapse">
                                    <ol>
                                        <li>Attributes are user details that are stored in your Identity Provider.</li>
                                        <li>Attribute Mapping helps you to get user attributes from your IdP and map them to 
                                            Magento user attributes like firstname, lastname etc.</li>
                                        <li>While auto registering the users in your Magento site these attributes will automatically 
                                            get mapped to your Magento user details.</li>
                                    </ol>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>NOTE: </b>Use attribute name <code>NameID</code> if Identity is in the 
                            <i>NameIdentifier</i> element of the subject statement in SAML Response.</td>
                    </tr>
                    <tr>
                        <td style="width:200px;"><strong>Login/Create Magento account by: </strong></td>
                        <td><select name="saml_am_account_matcher" id="saml_am_account_matcher" '.$disabled.'>
                            <option value="email" '. $emailSelected .' > Email </option>
                            <option value="username" '.$usernameSelected.' > Username </option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><i>Users in Magento will be searched (existing Magento users) or created (new users) based on this 
                            attribute. Use Email by default.</i></td>
                    </tr>
                    <tr>
                        <td style="width:150px;"><strong>Username <span style="color:red;">*</span>:</strong></td>
                        <td><input type="text" name="saml_am_username" placeholder="Enter attribute name for Username" 
                            value="'.$saml_am_username.'" required '.$disabled.'/></td>
                    </tr>
                    <tr>
                        <td><strong>Email <span style="color:red;">*</span>:</strong></td>
                        <td><input type="text" name="saml_am_email" placeholder="Enter attribute name for Email" 
                            value="'.$saml_am_email.'" required '.$disabled.'/></td>
                    </tr>
                    <tr>
                        <td><strong>First Name:</strong></td>
                        <td><input type="text" name="saml_am_first_name" placeholder="Enter attribute name for First Name"
                            value="'.$saml_am_first_name.'" '.$disabled.'/></td>
                    </tr>
                    <tr>
                        <td><strong>Last Name:</strong></td>
                        <td><input type="text" name="saml_am_last_name" placeholder="Enter attribute name for Last Name" 
                            value="'.$saml_am_last_name.'" '.$disabled.'/></td>
                    </tr>
                    <tr>
                        <td><strong>Group/Role:</strong></td>
                        <td><input type="text" name="saml_am_group_name" placeholder="Enter attribute name for Group/Role" 
                            value="'.$saml_am_group_name.'" '.$disabled.'/></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><br /><input type="submit" style="width:100px;" name="submit" value="Save" 
                            class="button button-primary button-large" '.$disabled.'/> &nbsp; 
                        <br /><br />
                        </td>
                    </tr>
                </table>
                <h3>Role Mapping (Optional)</h3><hr/>	
                <table>
                        <tr>
                        <td colspan="2">
                            <div class="mo_note">
                                <span class="btn-link" href="">What is Role Mapping?</span>
                                <div hidden class="collapse">
                                    <ol>
                                        <li>Magento uses a concept of Roles, designed to give the site owner the ability to control 
                                                what users can and cannot do within the site.</li>
                                        <li>Role mapping helps you to assign specific roles to users of a certain group in your IdP.</li>
                                        <li>While auto registering, the users are assigned roles based on the group they are mapped to.</li>
                                    </ol>
                                </div>
                            </div>
                        </td>
                        </tr>
                    <tr><td colspan="2"><b>NOTE: </b>Role will be assigned only to non-admin users (user that do NOT have Administrator 
                        privileges). You will have to manually change the role of Administrator users.</td></tr>
                    <tr><td colspan="2"><input type="checkbox" id="dont_create_user_if_role_not_mapped" 
                        name="mo_saml_dont_create_user_if_role_not_mapped" value="checked" 
                        '.$mo_saml_dont_create_user_if_role_not_mapped.' 
                        '.$disabled.' />&nbsp;&nbsp;Do not auto create users if roles are not 
                        mapped here.</td></tr>
                    <tr><td colspan="2"><input type="checkbox" id="dont_allow_unlisted_user_role" 
                        name="saml_am_dont_allow_unlisted_user_role" value="checked" 
                        '.$saml_am_dont_allow_unlisted_user_role.' '.$disabled.' />
                        &nbsp;&nbsp;Do not assign role to unlisted users.</td></tr>
                    <tr>
                        <td><strong>Default Role:</strong></td>
                        <td>
                                <select id="saml_am_default_role" name="saml_am_default_role"
                                     '.$disabled.' style="width:150px;" >';

                                foreach($roles as $role)
                                {
                                    $selected = $default_role==$role['label']? 'selected' : '';
                                    echo '<option id="mo2f_roles" '. $selected .' 
                                        name="'.$role['label'].'" value="'.$role['label'].'"/>'.
                                        $role['label'].'</option>';
                                }
                                foreach($groups as $group)
                                {
                                    $selected = $default_role==$group['label']? 'selected' : '';
                                    echo '<option id="mo2f_roles" '. $selected .' name="'.
                                    $group['label'].'" value="'.$group['label'].'"/>'.
                                    $group['label'].'</option>';
                                }

echo'                           </select>
                            <i>Select the default role to assign to new Users.</i>
                        </td>
                    </tr>';


                    foreach ($roles as $role) 
                    {
                        $role_value = $role['value'];
                        $role_name = $role['label'];
                        
                        if(empty($admin_roles_configured))
                        {
                            $admin_roles=array();
                            $value = array_key_exists($role_value, $admin_roles) ? $admin_roles[$role_value] : "";
    
                        }
                        else{
                            $admin_roles = unserialize($admin_roles_configured) ;
                            
                            $value = array_key_exists($role_value, $admin_roles) ? $admin_roles[$role_value] : "";
    
                        }
                        echo '<tr><td><b>' . $role_name .'</b></td><td><input type="text" name="saml_am_admin_attr_values_' . 
                        $role_value . '" value="' . $value .'" placeholder="Semi-colon(;) separated Group/Role value for ' . 
                        $role_name . '" style="width: 400px;"' . $disabled . ' /></td></tr>';
                    }

                    foreach ($groups as $group) 
                    {
                        $role_value = $group['value'];
                        $role_name = $group['label'];
                        $value = array_key_exists($role_value, $customer_roles_configured) ? 
                        $customer_roles_configured[$role_value] : "";
                           
                        echo '<tr><td><b>' . $role_name .'</b></td><td><input type="text" name="saml_am_group_attr_values_' . 
                            $role_value . '" value="' . $value .'" placeholder="Semi-colon(;) separated Group/Role value for ' . 
                            $role_name . '" style="width: 400px;"' . $disabled . ' /></td></tr>';
                    }

echo'               <tr>
                        <td>&nbsp;</td>
                        <td><br /><input type="submit" style="width:100px;" name="submit" value="Save" 
                            class="button button-primary button-large" '.$disabled.'/> &nbsp; 
                        <br /><br />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>';